# Solution-specific ignores
*.suo
*.user
*.userosscache
*.sln.docstates
# Build outputs
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]emp/
[Tt]emp*/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]uilds/
[Oo]ut/

# IDE settings
.vs/
.vscode/
*.DotSettings.user

# NuGet
.nuget/
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Others
*.log
*.tmp
*.tmp*
~$*
Thumbs.db
$RECYCLE.BIN/

# Test results
TestResults/
*.trx

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/
.idea_modules/
*.sln.iml

# Azure Pipelines
*.azure-pipelines.yml

# DotCover
*.dotCover

# Cache files
*.cache
*.NET.sln
